
<header>

  <h1>Hello user :), this is Canban-desk application</h1><button (click) = "create(e)">Add Task</button> <br>

  <p>Priority of tasks:</p>
  <div class="cikle green"></div><span class='title'>LOW</span>
  <div class="cikle gold"></div><span class='title' >NORMAL</span>
  <div class="cikle red"></div><span class='title'>HEIGHT</span>
  <span class = 'toggle'>If you want to change the status of the task, use button</span><span class='toggle-elem'>=></span>
  <span class ='toggle'>When you want to delete a task, use button</span><div class="del">X</div>
</header>

<div class="wrapper">
  <div class="do-it">
    <span class="subtitle">DO IT</span>
    <div class="do-it-height"></div>
    <div class="do-it-normal"></div>
    <div class="do-it-low"></div>
  </div>
  <div class="placeholder-1"></div>
  <div class="in-progress" >
    <span class="subtitle">IN PROGRESS</span>
    <div class="in-progress-height"></div>
    <div class="in-progress-normal"></div>
    <div class="in-progress-low"></div>
  </div>
  <div class="placeholder-2"></div>
  <div class="done">
    <span class="subtitle">DONE </span>
    <div class="done-height"></div>
    <div class="done-normal"></div>
    <div class="done-low"></div>
  </div>
  <div class="placeholder-3"></div>
  <div class="aborted">
    <span class="subtitle">ABORTED </span>
    <div class="aborted-height"></div>
    <div class="aborted-normal"></div>
    <div class="aborted-low"></div>
  </div>
</div>


